<header>
<title></title>

<% if(username){ %>
<%= username  %>
<form action="/logout" method="POST">
  <submit><button>logout</button></submit>
</form>
<% }else{ %>
<form action="/login" method="POST">
  <input type="text" name="username">User Name</input>
  <submit><button>submit</button></submit>
</form>
<% } %>
</header>
